body {
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

p,
span,
a {
    font-family: 'David Libre', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

div.content {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

div.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}
