html,
body {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    align-items: center;
    display: flex;
    font-family: 'David Libre', sans-serif;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mate SC', sans-serif;
    font-weight: 300;
}

div.contact {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
